body {
  min-height: 100vh;
  min-width: 100vw; /* ubah dari vh ke vw */
  background-color: #12181f;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3rem); /* responsive font */
  margin: 20px 0;
}

p {
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem); /* responsive font */
  font-weight: bold;
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.actions button {
  padding: 0.5rem 1rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* responsive font */
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #2ecc71;
}

.grid-container {
  display: grid;
  justify-content: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
  aspect-ratio: 2/3; /* menjaga rasio 2:3 */
  width: 100%;
  max-width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 40%;
  height: auto;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M25 30a5 5 0 110-10 5 5 0 010 10zm0-25a5 5 0 110-10 5 5 0 010 10zM0 30a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm12.5 12.5a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(174, 100%, 29%, 1)'/><path d='M0 15a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm25 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM12.5 2.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 25a2.5 2.5 0 110-5 2.5 2.5 0 010 5z'  stroke-width='1' stroke='none' fill='hsla(187, 100%, 42%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-position: center center;
  background-size: cover;
}
